
body { 
    background-color: transparent;
	display:flex;
	justify-content: center;
}


#clockDiv {
  border: 2px solid;
  padding: 20px; 
  width: 40%;
  resize: both;
  overflow: auto;
  position: relative;
}

#clockface {
  width: 100%;
  height: 100%;
  fill: #e0e2e4;
  opacity: 1;
  stroke: black;
  stroke-width: .1;
  stroke-linecap: round;
}
}

.rows {
    text-align: center;
    vertical-align: middle;
	border-collapse: collapse;
}


.round1A{
  stroke: ivory;
  fill: ivory;
  opacity: 0;
}

.round1B{
  stroke: ivory;
  fill: ivory;
  opacity: 0;
}

.minutes {
  stroke-width: 0.3; 
  stroke: olive;
}



.hours {
  stroke-width: 0.3;
  stroke: olive;
 }

.seconds {
  stroke-width: 0.75;
  stroke: red;

}

.labels{
    text-align: center;
    alignment-baseline : top;
    fill: black;
    stroke: black;
    stroke-width: 0.2;
    text-anchor: middle;
    font-family: Helvetica, sans-serif;
    font-size: 8px;

}

#label_path{

    fill : none;
    stroke : none;
}


.pin {
  stroke: red;
  stroke-width: 0.5;
}

.min-marks {
  stroke: black;
  fill : white;
  stroke-width: 0.25;
}

.stripes {
  stroke-width: 0.15;
  filter: brightness(75%);
}

/* The Modal (background) */
.menus {
  display: block;
  visibility: hidden;
  position: relative; /* Stay in place */
  z-index: 3; /* Sit on top */
  opacity: 0;
  right: 0;
  top: 0;
  width: 0%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  clip-path: inset(0% 100% 0% 0%);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: visibility 500ms, opacity 500ms, width 1s, clip-path 1s;
}

/* Modal Content/Box */
.modal-content {
  visibility: hidden;
  opacity: 0;
  background-color: #fefefe;
  position: relative;
  margin: 5px; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
  transition: visibility 500ms, opacity 500ms;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.switch {
  position:fixed;
  bottom:0;
  right:0; 
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.openModal{
  opacity: 1;
  visibility: visible;
  width: 50%;
  clip-path: inset(0% 0% 0% 0%);
}

.openContent{
  opacity: 1;
  visibility: visible;
}

#menubtn {
  width: 30px;
  height: 30px;
  background : url( "../images/menu-up.svg" ) no-repeat center center;
  border : none;
  color : transparent;
  position: absolute;
  top:5px;
  right: 5px;
  transform: rotate(270deg);
  z-index: 5;
}

#closebtn {
  width: 30px;
  height: 30px;
  background : url( "../images/menu-up.svg" ) no-repeat center center;
  border : none;
  color : transparent;
  position: absolute;
  top: 5px;
  left: 1px;
  transform: rotate(90deg);
  z-index: 5;
}

#fullScreen {
  width: 30px;
  height: 30px;
  background : url( "../images/full_screen.png") no-repeat center center;
  background-size: contain;
  border : none;
  color : transparent;
  position: absolute;
  top: 5px;
  left: 1px;
  transform: rotate(90deg);
  z-index: 5;
}
