
body { 
    background-color: lightgrey;
	display:flex;
	justify-content: center;
}

.rows {
    text-align: center;
    vertical-align: middle;
	border-collapse: collapse;
}

.round1A{
  stroke: ivory;
  fill: ivory;
  opacity: 0;
}

.round1B{
  stroke: ivory;
  fill: ivory;
  opacity: 0;
}

.minutes {
  stroke-width: 0.3; 
  stroke: olive;
}

.hours {
  stroke-width: 0.3;
  stroke: olive;
 }

.seconds {
  stroke-width: 0.75;
  stroke: red;

}

.labels{
    text-align: center;
    alignment-baseline : top;
    fill: black;
    stroke: black;
    stroke-width: 0.2;
    text-anchor: middle;
    font-family: Helvetica, sans-serif;
    font-size: 8px;

}

#clockBox {
  z-index: 3;
  border: none;
  background-color: white;
  padding: 20px; 
  width: 40%;
  resize: both;
  overflow: none;
  position: relative;
  box-shadow:  0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0  -6px 20px 0 rgba(0, 0, 0, 0.19);
}

#clockDiv {
  z-index: 3;
  border: none;
  background-color: transparent;
  padding: 0; 
  overflow: none;
  resize: both;
}


#clockface {
  width: 100%;
  height: 100%;
  fill: #e0e2e4;
  opacity: 1;
  stroke: black;
  stroke-width: .1;
  stroke-linecap: round;
}

#label_path{
    fill : none;
    stroke : none;
}

.pin {
  stroke: red;
  stroke-width: 0.5;
}

.min-marks {
  stroke: black;
  fill : white;
  stroke-width: 0.25;
}

.stripes {
  stroke-width: 0.15;
  filter: brightness(75%);
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.switch {
  position:fixed;
  bottom:0;
  right:0; 
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The Modal (background) */
.menus {
  display: block;
  position: relative; 
  z-index: 1; 
  opacity: 1;
  right: 0;
  top: 0;
  width: 0%; /* Full width */
  height: 80%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: #fefefe;
  box-shadow:  0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0  -6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: 0.5s ease-in normal both closeMenu;
}

/* Modal Content/Box */
.modal-content {
  visibility: visible;
  opacity: 1;
  background-color: #fefefe;
  position: relative;
  overflow: hidden;
  margin: 5px; /* 15% from the top and centered */
  padding: 25px;
  width: 90%; /* Could be more or less, depending on screen size */
  animation: 0.3s ease-in normal forwards closeBox;

}

.helpmenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  row-gap: 5%;
  column-gap: 5%;
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  opacity: 1;
  left: 0;
  top: 0;
  padding: 1%;
  width: 40%; /* Full width */
  height: 80vh%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #EEEEEE;
  box-shadow:  0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0  -6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: 0.3s ease-in normal forwards closeMenu;
}

.helpItem {
	  width: 25%;
	  height: 40%;
	  flex-grow: 1;
      background-color: white;
      box-shadow:  0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0  -4px 20px 0 rgba(0, 0, 0, 0.19);
}

.openContent{
  animation: 0.5s ease-out normal forwards openBox;
}

.openModal{
  animation: 0.3s ease-in normal forwards openMenu;
}

.openHelp{
  animation: 0.3s ease-in normal forwards openHelp;
}


#menubtn {
  width: 30px;
  height: 30px;
  background : url( "../images/menu-up.svg" ) no-repeat center center;
  border : none;
  border-radius: 10px;  
  color : transparent;
  position: absolute;
  top:5px;
  right: 5px;
  transform: rotate(270deg);
  z-index: 5;
}


#closebtn {
  width: 30px;
  height: 30px;
  background : url( "../images/menu-up.svg" ) no-repeat center center;
  border : none;
  border-radius: 10px;
  color : transparent;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: rotate(90deg);
  z-index: 5;
}

#resetIcon {
  width: 25px;
  height: 25px;
  background : url(  "../images/reset.png" ) no-repeat center center;
  background-size: contain;
  border : none;  
  border-radius: 10px;
  color : transparent;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 5;
}

#fullScreen {
  width: 30px;
  height: 30px;
  background : url( "../images/full_screen.png") no-repeat center center;
  background-size: contain;
  border : none;
  border-radius: 10px;
  color : transparent;
  position: absolute;
  bottom: 5px;
  left: 1px;
  transform: rotate(90deg);
  z-index: 5;
}

#helpbtn {
  width: 25px;
  height: 25px;
  background : url(  " ../images/help.png" ) no-repeat center center;
  background-size: contain;
  border : none;  
  border-radius: 10px;
  color : transparent;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}


#menubtn:hover, #closebtn:hover, #fullScreen:hover, #resetIcon:hover, #helpbtn:hover{
  background-color: antiquewhite;
}

#menubtn:active, #closebtn:active, #fullScreen:active, #resetIcon:active, #helpbtn:active {
  background-color: rosybrown;
}

@keyframes openMenu{
	from {
		width: 0%;
		opacity: 0.5;
		visibility: hidden;
	}
	
	to {
		width: 40%;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes openHelp{
	from {
		width: 0%;
		opacity: 0.5;
		visibility: hidden;
	}
	
	to {
		width: 40%;
		opacity: 1;
		visibility: visible;
	}
}


@keyframes closeMenu{
	from {
		width: 40%;
		opacity: 1;
		visibility: visible;
	}
	
	to {
		width: 0%;
		opacity: 0.5;
		visibility: hidden;
	}
}


@keyframes openBox{
	from {
		width: 0%;
		opacity: 0;
		visibility: hidden;
	}
	
	to {
		width: 90%;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes closeBox{
	from {
		width: 90%;
		opacity: 1;
		visibility: visible;
	}
	
	to {
		width: 0%;
		opacity: 0;
		visibility: hidden;
	}
}

